body {
  background-color: rgba(139, 139, 139, 0.1) !important;
}

.navbar {
  background-color: #0e103d;
  color: #ffffff;
  margin-bottom: 1.5rem;
}

.card {
  border-radius: 10px !important;
  width: 180px;
  transition: 0.3s;
}

.card:hover {
  transform: translate(0, -5px);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card p {
  font-size: 0.9rem;
}

.card-body {
  padding: 0.8rem !important;
}

.loading-image {
  height: 7rem;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
