.navbar {
  background-color: #0e103d;
  color: #ffffff;
  margin-bottom: 1.5rem;
}

.card {
  border: solid 1rem #f2d7ee !important;
  border-radius: 25px !important;
}

.pagination > li.active {
  background-color: #ffffff !important;
}

.loading-image {
  height: 7rem;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
